.gallery {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213px);
  justify-content: center;
  gap: 18px;
  z-index: 2;
  object-fit: contain;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
    gap: 14px;
    padding-bottom: 12px;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(6, 264px);
    gap: 16px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 320px) {
  .gallery {
    grid-template-columns: repeat(1, 288px);
    grid-template-rows: repeat(12, 216px);
    gap: 12px;
    padding-bottom: 14px;
  }
}
