
.page{
  margin: 0, auto;
  font-family: 'Inter', Arial, sans-serif;
  background: #2A2C2F;
  min-width: 1280px;
  max-width: 1600px;
  z-index: -1;
}

.logo{
  width: 176px;
  height: 52px;
}

.logo_place_header{
  position: absolute;
  top: 28px;
  left: 48px;
}

.header__lang-links{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  position: absolute;
  left: 1155px;
  right: 48px;
  top: 46px;
  list-style: none;
}

.header__lang-links{
  margin: 0;
  padding: 0;
  text-decoration: #FFFFFF;
  width: 30px;
  height: 28px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.header__title{
  margin: 0, auto;
  padding: 0;
  padding-top: 136px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  max-width: 720px;
  height: 200px;
  z-index: 3;
}

.header__subtitle{
  margin: 0;
  padding: 0;
  position: absolute;
  top: 32px;
  bottom: 64px;
  max-width: 640px;
  height: 72px;
  font-size: 30px;
  font-weight: 400px;
  line-height:36px;
}

.header__main-illustration {
  margin: 0, auto;
  position: absolute;
  object-fit: cover;
  position: absolute;
width: 984px;
height: 615px;
left: 148px;
top: 504px;

background: url(./images/lead-polka.jpg);
}

.header__illustration-title{
  margin: 0;
  padding: 0;
  height: 14px;
  max-width: 158px;
  font-size: 10px;
  font-weight: 400px;
  line-height:14px;
}

.two-columns__brief{
  margin: 0;
  padding: 0;
  height: 58px;
  max-width: 690px;
  font-size: 54px;
  font-weight: 900px;
  line-height:58px;
}

.two-columns__paragraph{
  margin: 0;
  padding: 0;
  height: 208px;
  max-width: 690px;
  font-size: 16px;
  font-weight: 400px;
  line-height:26px;
}

.two-columns__paragraph-list{
  margin: 0;
  padding: 0;
  height: 90px;
  max-width: 690px;
  font-size: 12px;
  font-weight: 400px;
  line-height:18px;
  list-style: none;
}

.two-columns__paragraph-list-bold{
  font-weight: bold;
}

.gallary{
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213px);
  justify-content: center;
  gap: 18px;
  grid-template-rows: auto;

}

.cards__image{
  height: 213px;
  width: 284px;
}

.tobaikal__image{
  position: absolute;
  width: 1184px;
  height: 740px;
  left: 48px;
  top: 6001px;
}