
.page{
  margin: 0 auto;
  min-width: 1280px;
  max-width: 1600px;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
}

.header{
  margin: 0;
  padding: 0;
  height: 100%;
}

.header__logo-lang-positions{
  display:flex;
  justify-content: space-between;
}

.logo{
  width: 176px;
  height: 52px;
}

.logo_place_header{
  position: relative;
  top: 28px;
  left: 48px;
  z-index: 2;
}

.header__lang-link{
  margin: 0;
  padding: 0;
  height: 28px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #FFFFFF;
}

.header__lang-link:last-child{
  padding-left: 18px;
}

.header__lang-link:hover{
  text-decoration: underline;
}

.header__lang-links{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 46px;
  right: 48px;
}

.header__title{
  margin: 0 auto;
  max-width: 720px;
  line-height: 100px;
  font-size: 96px;
  font-weight: 900;
  text-align: center;
  margin-top: 136px;
  height: 200px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 32px;
}

.header__subtitle{
  margin: 0 auto;
  padding: 0;
  max-width: 640px;
  height: 72px;
  font-size: 30px;
  font-weight: 400px;
  line-height:36px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 64px;
}

.header__main-illustration {
  margin: 0 auto;
width: 984px;
height: 615px;
display: flex;
z-index: 0;
color: #FFFFFF;
}

.header__illustration-title{
  margin: 0;
  padding: 0;
  height: 14px;
  max-width: 158px;
  font-size: 10px;
  font-weight: 400px;
  line-height:14px;
  z-index: 2;
  color: #FFFFFF;
  margin-left: 148px;
  margin-top: 8px;
}

.description-title{
  margin: 0;
  padding: 0;
  height: 58px;
  max-width: 690px;
  font-size: 54px;
  font-weight: 900px;
  line-height: 58px;
  z-index: 2;
  color: #FFFFFF;
  padding-bottom: 48px;
}

.description__paragraph{
  margin: 0;
  padding: 0;
  height: 208px;
  max-width: 690px;
  font-size: 16px;
  font-weight: 400px;
  line-height:26px;
  color: #FFFFFF;
}

.description__paragraph-list{
  margin: 0;
  padding: 0;
  max-width: 690px;
  font-size: 12px;
  font-weight: 400px;
  line-height:18px;
  list-style: none;
  z-index: 2;
  color: #FFFFFF;
  padding-top: 33px;
  padding-bottom: 92px;
}

.description__main-text{
  margin: 0;
  padding: 0;
  padding-top: 40px;
  margin-left: 148px;
  max-width: 690px;
  min-height: 208px;
  font-size: 12px;
  font-weight: 400px;
  line-height:18px;
  list-style: none;
  z-index: 2;
  color: #FFFFFF;
}

.gallary{
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213px);
  justify-content: center;
  gap: 18px;
  grid-template-rows: auto;
  z-index: 2;

}

.gallary__cards_image{
  height: 213px;
  width: 284px;
}

.place__image{
  height: 460px;
  width: 460px;
}

.place__url-heading{
  margin: 0;
  padding: 0;
  max-width: 456px;
  min-height: 12px;
  font-size: 12px;
  font-weight: 400px;
  line-height:12px;
  list-style: none;
  color: #AAAAAA;
  padding-bottom: 12px;
}

.place__link{
  margin: 0;
  padding: 0;
  max-width: 456px;
  min-height: 22px;
  font-size: 18px;
  font-weight: 400px;
  line-height:22px;
  list-style: none;
  color: #FFFFFF;
}

.place__title{
  margin: 0;
  padding: 0;
  min-width: 460px;
  font-size: 72px;
  font-weight: 900px;
  line-height: 76px;
  z-index: 2;
  color: #FFFFFF;
}

.place__paragraph{
  margin: 0;
  padding: 0;
  max-width: 484 px;
  font-size: 18px;
  font-weight: 400px;
  line-height: 29.34px;
  color: #FFFFFF;
}

.place__paragraph:last-child {
  margin-top: 0px;
}

.place{
  margin: 0 auto;
  margin-top: 80px;
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto auto;
  justify-content: center;
  grid-gap: 40px;
  grid-auto-flow: column;
  z-index: 2;


}

.tobaikal__image{
  position: absolute;
  width: 1184px;
  height: 740px;
  left: 48px;
  top: 6001px;
  z-index: 2;
}