
/*.page{
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
}

.page__container{
  margin: 0 auto;
  min-width: 320px;
  max-width: 1600px;
}

.header{
  margin: 0;
  padding: 0;
  display:flex;
  justify-content: space-between;
  min-height: 100%;
  padding-top: 28px;
  padding-left: 48px;
}

@media screen and (max-width:768px){
  .header{
  padding-top: 28px;
  padding-left: 24px;
  }
}

@media screen and (max-width:320px){
  .header{
  padding-top: 16px;
  padding-left: 16px;
  }
}

.logo{
  max-width: 176px;
  min-height: 52px;
}

@media screen and (max-width:1024px){
  .logo{
    max-width: 176px;
    min-height: 52px;
  }
}

@media screen and (max-width:768px){
  .logo{
    max-width: 176px;
    min-height: 52px;
  }
}

@media screen and (max-width:320px){
  .logo{
    max-width: 142px;
    min-height: 42px;
  }
}

.header__lang-links{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 18px;
  margin-right: 48px;
}

@media screen and (max-width:768px){
  .header__lang-links{
    padding-top: 18px;
    margin-right: 24px;
  }
}

@media screen and (max-width:320px){
  .header__lang-links{
    padding-top: 14px;
    margin-right: 16px;
  }
}

.header__lang-link{
  margin: 0;
  padding: 0;
  min-height: 28px;
  max-width: 29px;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #FFFFFF;
}

@media screen and (max-width:320px){
  .header__lang-link{
    margin: 0;
    padding: 0;
    min-height: 20px;
    max-width: 22px;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
  }
}

.header__lang-link:last-child{
  padding-left: 18px;
}

.header__lang-link:hover{
  text-decoration: underline;
}

.lead{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.lead__title{
  margin: 0 auto;
  max-width: 720px;
  line-height: 100px;
  font-size: 96px;
  font-weight: 900;
  text-align: center;
  margin-top: 58px;
  min-height: 200px;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 32px;
}

@media screen and (max-width:1024px){
  .lead__title{
    margin-top: 48px;
  }
}

@media screen and (max-width:768px){
  .lead__title{
    margin-top: 48px;
  }
}

@media screen and (max-width:320px){
  .lead__title{
    margin: 0 auto;
    max-width: 288px;
    min-height: 88px;
    line-height: 44px;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-top: 48px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 16px;
  }
}

.lead__subtitle{
  margin: 0 auto;
  padding: 0;
  max-width: 640px;
  min-height: 72px;
  font-size: 30px;
  font-weight: 400;
  line-height:36px;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 64px;
}

@media screen and (max-width:1024px){
  .lead__subtitle{
    padding-bottom: 56px;
  }
}

@media screen and (max-width:768px){
  .lead__subtitle{
    padding-bottom: 56px;
  }
}

@media screen and (max-width:320px){
  .lead__subtitle{
    margin: 0 auto;
    padding: 0;
    max-width: 288px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height:20px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 40px;
  }
}

.lead__image{
  margin: 0 auto;
  max-width: 984px;
  min-height: 615px;
  display: flex;
  z-index: 0;
  color: #FFFFFF;
  overflow-x:hidden;
}

@media screen and (max-width:1024px){
  .lead__image{
    max-width: 928px;
    min-height: 580px;
  }
}

@media screen and (max-width:768px){
  .lead__image{
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width:320px){
  .lead__image{
    max-width: 320px;
    min-height: 200px;
  }
}

.lead__caption{
  margin: 0;
  padding: 0;
  min-height: 14px;
  max-width: 158px;
  font-size: 10px;
  font-weight: 400;
  line-height:14px;
  z-index: 2;
  color: #FFFFFF;
  justify-content: flex-start;
  text-transform: uppercase;
}

@media screen and (max-width:768px){
  .lead__caption{
    margin-left: 24px;
  }
}

@media screen and (max-width:320px){
  .lead__caption{
    margin-left: 16px;
  }
}

.lead__image-caption_position{
  margin: 0 auto;
  display: grid;
  grid-template-rows: 615px 14px;
  grid-template-columns: 984px;
  gap: 8px;
  justify-self: start;
}

@media screen and (max-width:1024px){
  .lead__image-caption_position{
    grid-template-rows: 580px 14px;
    grid-template-columns: 928px;
  }
}

@media screen and (max-width:768px){
  .lead__image-caption_position{
    grid-template-rows: 480px 14px;
    grid-template-columns: 768px;
  }
}

@media screen and (max-width:320px){
  .lead__image-caption_position{
    grid-template-rows: 200px 14px;
    grid-template-columns: 320px;
  }
}

.description{
  margin: 0;
  padding: 0;
}

.description__title{
  margin-top: 92px;
  margin-left: 148px;
  min-height: 58px;
  max-width: 690px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  z-index: 2;
  color: #FFFFFF;
}

@media screen and (max-width:1024px){
  .description__title{
    margin-left: 48px;
  }
}

@media screen and (max-width:768px){
  .description__title{
    margin-top: 88px;
    margin-left: 24px;
    min-height: 58px;
    max-width: 720px;
  }
}

@media screen and (max-width:320px){
  .description__title{
    margin-top: 32px;
    margin-left: 16px;
    min-height: 70px;
    max-width: 240px;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
  }
}

.description__paragraph{
  margin: 0;
  padding: 0;
  min-height: 208px;
  max-width: 690px;
  font-size: 16px;
  font-weight: 400;
  line-height:26px;
  color: #FFFFFF;
}

@media screen and (max-width:768px){
  .description__paragraph{
    min-height: 208px;
    max-width: 720px;
  }
}

@media screen and (max-width:320px){
  .description__paragraph{
    min-height: 520px;
    max-width: 288px;
  }
}

.description__paragraph_list{
  margin: 0;
  padding: 0;
  max-width: 690px;
  font-size: 12px;
  font-weight: 400;
  line-height:18px;
  list-style: none;
  z-index: 2;
  color: #FFFFFF;
  padding-top: 33px;
  padding-bottom: 92px;
}

@media screen and (max-width:768px){
  .description__paragraph_list{
    max-width: 720px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width:320px){
  .description__paragraph_list{
    max-width: 288px;
    padding-top: 34px;
    padding-bottom: 64px;
  }
}

.description__main-text{
  margin: 0;
  padding: 0;
  margin-left: 148px;
}

@media screen and (max-width:1024px){
  .description__main-text{
    margin-left: 48px;
  } 
}

@media screen and (max-width:768px){
  .description__main-text{
    margin-left: 24px;
    max-width: 720px;
  }
}

@media screen and (max-width:320px){
  .description__main-text{
    margin-left: 16px;
    max-width: 288px;
  }
}

.gallery{
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  display: grid;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(3, 213px);
  justify-content: center;
  gap: 18px;
  grid-template-rows: auto;
  z-index: 2;
}

@media screen and (max-width:1024px){
  .gallery{
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
    gap: 14px;
  }
}

@media screen and (max-width:768px){
  .gallery{
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(6, 264px);
    gap: 16px;
  }
}

@media screen and (max-width:320px){
  .gallery{
    grid-template-columns: repeat(1, 288px);
    grid-template-rows: repeat(12, 216px);
    gap: 12px;
    padding-bottom: 0px;
  }
}

.gallery__cards{
  min-height: 213px;
  max-width: 284px;
  overflow-x:hidden;
}

@media screen and (max-width:1024px){
  .gallery__cards{
    min-height: 225px;
    max-width: 300px;
  }
}

@media screen and (max-width:768px){
  .gallery__cards{
    min-height: 264px;
    max-width: 352px;
  }
}

@media screen and (max-width:320px){
  .gallery__cards{
    min-height: 216px;
    max-width: 288px;
  }
}

.place{
  margin: 0 auto;
  margin-top: 80px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto auto;
  justify-content: center;
  row-gap: 48px;
  column-gap: 40px;
  grid-auto-flow: column;
}

@media screen and (max-width:1024px){
  .place{
    grid-template-columns: 440px 456px;
    column-gap: 32px;
  }
}

@media screen and (max-width:768px){
  .place{
    margin-top: 73px;
    grid-template-columns: 340px 352px;
    column-gap: 28px;
  }
}

@media screen and (max-width:320px){

  .place{
    margin-top: 64px;
    grid-template-columns: 320px;
    column-gap: 0px;
    row-gap: 0px;
  }
}

.place__url{
  align-self: end;
}

.place__url-heading{
  margin: 0;
  padding: 0;
  max-width: 456px;
  min-height: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height:12px;
  list-style: none;
  color: #AAAAAA;
  padding-bottom: 12px;
}

.place__link{
  margin: 0;
  padding: 0;
  max-width: 456px;
  min-height: 22px;
  font-size: 18px;
  font-weight: 400;
  line-height:22px;
  list-style: none;
  color: #FFFFFF;
}

.place__image{
  min-height: 460px;
  max-width: 460px;
  overflow-x:hidden;
}

@media screen and (max-width:1024px){
  .place__image{
    min-height: 440px;
    max-width: 440px;
  }
}

@media screen and (max-width:768px){
  .place__image{
    min-height: 340px;
    max-width: 340px;
  }
}

@media screen and (max-width:320px){
  .place__image{
    min-height: 320px;
    max-width: 320px;
  }
}

.place__title{
  margin: 0;
  padding: 0;
  padding-top: 80px;
  max-width: 460px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  z-index: 2;
  color: #FFFFFF;
}

@media screen and (max-width:1024px){
  .place__title{
    max-width: 440px;
  }
}

@media screen and (max-width:768px){
  .place__title{
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width:320px){
  .place__title{
    max-width: 288px;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    padding-top: 0px;
  }
}

.place__paragraph{
  margin: 0;
  padding: 0;
  max-width: 484px;
}

@media screen and (max-width:1024px){
  .place__paragraph{
    max-width: 456px;
  }
}

@media screen and (max-width:768px){
  .place__paragraph{
    max-width: 352px;
  }
}

@media screen and (max-width:320px){
  .place__paragraph{
    max-width: 288px;
  }
}

.place__paragraph_font{
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.34px;
  color: #FFFFFF; 
}

@media screen and (max-width:1024px){
  .place__paragraph_font{
    font-size: 18px;
  }
}

@media screen and (max-width:768px){
  .place__paragraph_font{
    font-size: 16px;
    line-height: 26.08px;
  }
}

@media screen and (max-width:320px){
  .place__paragraph_font{
    line-height: 26.08px;
  }

.place__paragraph_space{
  margin: 0;
  padding: 0;
  padding-bottom: 26px;
}

.place__title{
    grid-row: 1;
    grid-column: 1/span2;
    padding-left: 16px;
  }

  .place__url-heading{
    grid-row: 2;
    grid-column: 1/span2;
    padding-left: 16px;
    padding-top: 32px;
  }

  .place__link{
    grid-row: 3;
    grid-column: 1/span2;
    padding-left: 16px;
    padding-top: 12px;
  }

  .place__image{
    grid-row: 4;
    grid-column: 1/span2;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .place__paragraph{
    grid-row: 5;
    grid-column: 1/span2;
    padding-left: 16px;
  }
}

.cover{
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./images/cover-trains.jpg);
  min-height: 740px;
  max-width: 1184px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  background-origin: border-box;
  object-fit: contain;
  box-sizing: border-box;
  overflow-x:hidden;
}

@media screen and (max-width:1024px){
  .cover{
    min-height: 640px;
    max-width: 1024px;
  }
}

@media screen and (max-width:768px){
  .cover{
    min-height: 480px;
    max-width: 768px;
    margin-top: 60px;
  }
}

@media screen and (max-width:320px){
  .cover{
    min-height: 200px;
    max-width: 320px;
    margin-top: 25px;
  }
}

.cover__link{
  min-height: 740px;
  max-width: 1184px;
  text-decoration: none;
}

@media screen and (max-width:1024px){
  .cover__link{
    min-height: 640px;
    max-width: 1024px;
  }
}

@media screen and (max-width:768px){
  .cover__link{
    min-height: 480px;
    max-width: 768px;
  }
}

@media screen and (max-width:320px){
  .cover__link{
    min-height: 200px;
    max-width: 320px;
  }
}

.cover__link::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #2A2C2F;
  opacity: 0.3;
}

.cover__link:hover{
  background-color: #2A2C2F;
  opacity: 0.8;
  transition: 1s linear 0.5s;
}

.cover__title{
  margin: 0 auto;
  padding: 0;
  padding-top: 245px;
  max-width: 560px;
  min-height: 152px;
  font-size: 72px;
  font-weight: 900;
  line-height:76px;
  font-style: normal;
  color: #FFFFFF;
  justify-content: center;
  display: flex;
  text-decoration: none;
  position: relative;
  z-index: 5;
}

@media screen and (max-width:1024px){
  .cover__title{
    padding-top: 195px;
  }
}

@media screen and (max-width:768px){
  .cover__title{
    padding-top: 115px;
  }
}

@media screen and (max-width:320px){
  .cover__title{
    padding-top: 33px;
    max-width: 288px;
    min-height: 70px;
    font-size: 32px;
    line-height:35px;
  }
}

.cover__subtitle{
  margin: 0 auto;
  padding: 0;
  padding-top: 32px;
  max-width: 360px;
  min-height: 66px;
  font-size: 18px;
  font-weight: 400;
  line-height:22px;
  color: #FFFFFF;
  z-index: 3;
  text-decoration: none;
  position: relative;
  z-index: 5;
  }

  @media screen and (max-width:320px){
    .cover__subtitle{
      padding-top: 16px;
      max-width: 288px;
      min-height: 48px;
      font-size: 14px;
      line-height:16px;
    }
  }


.footer{
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
  padding: 92px 48px 24px 48px;
}

@media screen and (max-width:768px){
  .footer{
    padding: 88px 24px 24px 24px;
  }
}

@media screen and (max-width:320px){
  .footer{
    padding-top: 64px;
    padding-left: 16px;
    flex-direction: column;
  }
}

.footer__columns{
  display: grid;
  grid-template-columns: 50px 57px 94px 86px 106px;
  gap: 18px;
}

@media screen and (max-width:320px){
  .footer__columns{
    grid-template-rows: 24px;
    grid-template-columns:100%;
    grid-row-gap:32px;
  }
}

.footer__link{
  margin: 0;
  padding: 0;
  max-width: 50px;
  min-height: 18px;
  font-size: 16px;
  font-weight: 400;
  line-height:18px;
  color: #FFFFFF;
  text-decoration: none;
  }
  
@media screen and (max-width:320px){
  .footer__link{
    max-width: 85px;
    min-height: 24px;
    font-size: 24px;
    font-weight: 400;
    line-height:24px;
    }
  }

.footer__link:hover{
  text-decoration: underline;
  }

.footer__copyright{
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-height: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height:16px;
  color: #FFFFFF;
}

@media screen and (max-width:320px){
  .footer__copyright{
    max-width: 100%;
    min-height: 14px;
    font-size: 14px;
    line-height:14px;
    padding-top: 48px;
  }

}

finish
*/