.place__image {
  margin: 0 auto;
  width: 100%;
  object-fit: contain;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .place__image {
    max-width: 440px;
    min-height: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__image {
    max-width: 340px;
    min-height: 340px;
   
  }
}

@media screen and (max-width: 604px) {
  .place__image {
    grid-row: 4;
    grid-column: 1 / span2;
    padding-top: 30px;
  }
}
