.footer__columns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 18px;
}

@media screen and (max-width: 768px) {
  .footer__columns {
    max-width: 720px;
  }
}

@media screen and (max-width: 760px) {
  .footer__columns {
    grid-template-columns: minmax(106px, max-content);
    grid-row-gap: 32px;
  }
}


@media screen and (max-width: 320px) {
  .footer__columns {
    grid-template-rows: 24px;
    grid-template-columns: 100%;
  }
}
