.footer__columns {
  display: grid;
  grid-template-columns: 50px 57px 94px 86px 106px;
  gap: 18px;
}

@media screen and (max-width: 768px) {
  .footer__columns {
    max-width: minmax(720px, max-content);
  }
}

@media screen and (max-width: 320px) {
  .footer__columns {
    grid-template-rows: 24px;
    grid-template-columns: 100%;
    grid-row-gap: 32px;
  }
}


, 