.lead__position {
  margin: 0 auto;
  max-width: calc(16 / 9 * 100vh);
}

@media screen and (max-width: 1024px) {
  .lead__position {
    min-height: 580px;
  }
}

@media screen and (max-width: 768px) {
  .lead__position {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .lead__position {
    min-height: 200px;
  }
}