.lead__position {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 615px 14px;
  grid-template-columns: 984px;
  gap: 8px;
  justify-self: start;
}

@media screen and (max-width: 1024px) {
  .lead__position {
    grid-template-rows: 580px 14px;
    grid-template-columns: 928px;
  }
}

@media screen and (max-width: 768px) {
  .lead__position {
    grid-template-rows: 480px 14px;
    grid-template-columns: 768px;
  }
}

@media screen and (max-width: 320px) {
  .lead__position {
    grid-template-rows: 200px 14px;
    grid-template-columns: 320px;
  }
}
