.header__lang_links{
  margin: 0;
  padding: 0;
  max-width: 78px;
  display: flex;
  justify-content: space-between;
  position: relative; 
}
  
@media screen and (max-width:768px){
  .header__lang_links{
    margin-right: 24px;
  }
}
  
@media screen and (max-width:320px){
  .header__lang_links{
    margin-top: 30px;
    margin-right: 16px;
    max-width: 62px;
  }
}