.header__lang_links{
  margin: 0;
  padding: 18 px 0 0 48px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
  
@media screen and (max-width:768px){
  .header__lang_links{
    padding-right: 24px;
  }
}
  
@media screen and (max-width:320px){
  .header__lang_links{
    padding-top: 14px;
    padding-right: 16px;
  }
}