.description__list {
  margin: 0;
  padding: 33px auto 92px 148px;
  max-width: 690px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  list-style: none;
  z-index: 2;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .description__list {
    padding-left: 48px;

  }
}

@media screen and (max-width: 768px) {
  .description__list {
    padding-left: 24px;
    padding-bottom: 88px;
    max-width: 24px;
  }
}

@media screen and (max-width: 320px) {
  .description__list {
    padding-bottom: 64px;
    padding-left: 16px;
    max-width: 288px;
  }
}
