.place {
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(460px, max-content), minmax(484px, max-content);
  grid-template-rows: auto auto;
  justify-content: center;
  row-gap: 48px;
  column-gap: 40px;
  grid-auto-flow: column;
  color: #ffffff;
}

@media (min-width: 768) and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(440px, max-content), minmax(456px, max-content);
    column-gap: 32px;
  }
}

@media (min-width: 321)  and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(340px, max-content), minmax(352px, max-content);
    column-gap: 28px;
  }
}

@media screen and (max-width: 700px) {
  .place {
    grid-template-columns: minmax(320px, max-content);
    column-gap: 1px;
    row-gap: 1px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    margin: 0 auto;
    grid-template-columns: minmax(320px, max-content);
    column-gap: 1px;
    row-gap: 1px;
  }
}
