.place {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto;
  gap: 48px 40px;
  color: #ffffff;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(340px, 440px) minmax(290px, 1fr);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 800px) {
.place {
  grid-template-columns: minmax(340px, 440px) minmax(290px, 1fr);
  gap: 48px 32px;
}

@media screen and (max-width: 768px) {
  .place {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
