.footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 92px 48px 24px 48px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 114px;
    padding-right: 24px;
    padding-left: 24px;
    min-width: ((100% - 69px)/2);
  }
}

@media screen and (max-width: 760px) {
  .footer {
    min-width: ((100% - 69px)/2);
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 68px;
    padding-left: 16px;
  }
}