.place__url-heading {
  margin: 0;
  padding: 0 0 12px 0;
  max-width: 456px;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  list-style: none;
  color: #aaaaaa;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media screen and (max-width: 604px) {
  .place__url-heading {
    grid-row: 2;
    grid-column: 1 / span2;
    padding-left: 16px;
    padding-top: 32px;
  }
}