.header__lang-links{
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: minmax(1fr, max-content);
  gap: 18px;
  position: relative;
  align-self: end;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;

}

@media screen and (max-width:320px){
  .header__lang-links{
    align-self: center;
    font-size: 18px;
    line-height: 20px;
  }
}